section.board {
  width: 100%;
  height: 100%;
  background-color: black;

  div.board__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include transition-property(background-image);
    @include transition-duration(0.5s);
  }
  div.image--father {
    display: none;
    z-index: 1;
  }
  div.image--child {
    z-index: 2;
  }
}
