section.board {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 100%;

  div.board__image {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    @include transition-property(opacity, visibility);
    @include transition-duration(0.5s);
  }
  div.image--father {
    opacity: 0;
    visibility: hidden;
  }
}
